<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmpe277.assgn4"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sjsu"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cmpe277.assgn4.PersonalInfo"
            android:label="@string/personalInfo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cmpe277.assgn4.Processing"
            android:label="@string/title_activity_processing" >
        </activity>
        <activity
            android:name="com.cmpe277.assgn4.Persistence"
            android:label="@string/title_activity_persistence" >
        </activity>
        <activity
            android:name="com.cmpe277.assgn4.ReportData"
            android:label="@string/title_activity_report_data" >
        </activity>
    </application>

</manifest>
